<nav>

                <ul class="navigation body-font nav-menu ">
            <li><a class="body-font" href = "./index.html">Home</a></li>
            <li><a class="body-font" href = "#">Directory</a></li>
            <li><a class="body-font" href = "./join.html">Join</a></li>
            <li><a class="body-font" href = "#">Discover</a></li>
            </ul>
           

            <script src="./scripts/hamburger.js" defer></script>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
               </div>
</nav>