:root{
    --primary-color: #F7B2B7;
    --secondary-color: #000000;
    --accent-primary-color: #FF6F91;
    --accent-secondary-color: #8100d7;
    --accent-tertiary-color: aliceblue;

}

.head-font{
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--accent-tertiary-color);
}
  
  
.body-font {
   font-family: "Roboto", sans-serif;
   font-weight: 200;
   font-style: normal;
   color: var(--accent-primary-color);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    overflow: hidden;
    background-color: var(--secondary-color);
}

.banner{
    position: relative;
    width: 100%;
    padding: 0 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--secondary-color);
}

.banner::before{
    position: absolute;
    content: '';
    top: -90%;
    left: -30%;
    height: 1500px;
    width: 1500px;
    border-radius: 50%;
    background: linear-gradient(to bottom,
    #FF6F91 0%,
    #F7B2B7 15%
    transparent 50%,
    #F7B2B7 85%,
    #FF6F91 100%);
    filter: blur(30px);
    z-index: 1;
    transition: 1s;
}

.banner.active::before{
    width: 50%;
    height: 50%;
    background-color: var(--secondary-color);
}

.banner::after{
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    height: 25px;
    width: 50%;
    background: var(--accent-secondary-color);
    filter: blur(10px);
    z-index: 1;
    transition: 1s;
}

.banner.active::after{
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

header .logo{
    font-size: 2em;
    font-weight: 700;
    color:var(--accent-tertiary-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    transform-origin: right;

}

.banner.active .logo {
    transform: scale(0);
    transform-origin: left;
}

header .toggle {
    position: relative;
    background: url('../images/menu.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}

header .toggle.active{
    position: relative;
    background: url('../images/close.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    cursor: pointer;
}


.content{
    position: relative;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}

.banner.active .content .imgBox img {
    opacity: 0.2;
}


.content .contentBox{
    width: 700px;
    transform-origin: right;
    transition: 0.5s;
}

.content .contentBox h2{
    font-size: 2em;
    font-weight: 300;
    color: var(--accent-secondary-color);
    line-height: 1em;
    text-transform: uppercase;
    text-align: left;
}

.content .contentBox .title{
    position: relative;
    font-size: 7em;
    letter-spacing: 1px;
    color: var(--accent-tertiary-color);
    line-height: 1px;
    text-transform: uppercase;
    padding: 60px 0;
}

.content .contentBox p{
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 1px;
    color: var(--accent-tertiary-color);
    padding: 10px 0;
}


.content .contentBox a {
    position: relative;
    display: inline-block;
    border: 1px solid var(--accent-secondary-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--primary-color);
    padding: 14px 40px;
    transition: 0.5s;
    overflow: hidden;
    background: var(--secondary-color);
}

.content .contentBox a::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    transition: 0.5s;
}

.content .contentBox a:hover{
    letter-spacing: 4px;
    color: var(--accent-tertiary-color);
}

.banner.active .content .contentBox{
    transform: scale(0);
    transform-origin: right;
}

.content .imgBox img{
    transform: scale(1.3);
    max-width: 70%;
    min-width: 400px;
}

.outline{
    padding: 10px;
    background-color: aliceblue;
}

/* sci was something that i ended up
 removing but for some reason if i
 remove .sci the whole hamburger menu blows up  so for now this stays*/
 
.banner.active .sci{
    transform: scale(0);
    transform-origin: left;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    transition: 0.5s;
    transition-delay: 0s;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
}

.banner.active .menu{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

.menu li{
    list-style: none;
    margin-bottom: 10px;
}

.menu li a {
    text-decoration: none;
    color: var(--accent-tertiary-color);
    font-size: 2em;
    font-weight: 300;
    transition: 0.5s;
}

.menu li a:hover{
    color: var(--accent-secondary-color);
}


/*this is the header for the other pages*/

header{
    
    background-color: linear-gradient(var(--accent-primary-color)) ;
    padding: 1rem 1rem 0.25rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    grid-column: 1/4;
}

h3{
    text-align: center;
}

.navigation{
    
    background-image: linear-gradient(var(--accent-primary-color), var(--primary-color));
    border: 1px solid var(--accent-secondary-color);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 100%;
}



.navigation :hover, .card-navigation :hover{
    color: var(--accent-tertiary-color);
}

/*this is for the SHOP*/

.container{

    text-align: left;
    position: relative;
    top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container img, p {
    position: relative;
    top: 50px;
    max-width: 300px;
    margin: 1rem;
}



/* this is the contact.html page */

.wf1 fieldset{
    margin: 2rem;
    border: solid 1px var(--accent-secondary-color);
    border-radius: 6px;
    padding: 5rem;

}

.wf1 legend{
    color: aliceblue;
    padding: .5rem;
}

.wf1 label{
    padding: 1rem;
    
}

.wf1 input[type = "text"],
.wf1 input[type = "textarea"],
.wf1 select,
.wf1 input[type = "email"]
{
    display: block;
    border: solid 1px black;
    background-color: var(--primary-color);
    padding: .75rem;
    width: 100%;
    max-width: 400px;
}

.checkbox-group {
    font-size: 1rem;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    
}

.checkbox-group label {
    margin-bottom: 5px; 
    cursor: pointer; 
}

input[type="checkbox"] {
    margin-right: 10px; 
}

.contact{
    position: relative;
    top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.wf1-label{
    padding: 1rem;
    color: var(--accent-primary-color);
    font-size: 1.5rem;
}


textarea{
   background-color: #F7B2B7;
}

.wf1 input[type = "submit"]{
    
    border: 1px solid var(--accent-secondary-color);
    background-image: linear-gradient(var(--accent-primary-color), var(--primary-color));
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    margin: 2rem 13% -4rem -4%;
}

.wf1 input[type = "submit"]::before{
    position: absolute;
    content: '';
    top: 20;
    left: 0;
    height: 100%;
    width: 50%;
    transition: 0.5s;
}

.wf1 input[type = "submit"]:hover{
    letter-spacing: 4px;
    color: var(--accent-tertiary-color);
}


.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-color);
}

@media(max-width:768px){
    .hamburger{
        display: block;
        position: fixed;
        top: 15px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav-menu{
        position: fixed;
        left: -125%;
        top: 1%;
        gap: 0;
        flex-direction: column;
   
        width: 100%;
        text-align: center;
        transition: 0.3s;

    }

    .nav-menu.active{
        left: 0;
    }

    
}
