@media (max-width: 900px){
    header{
        padding: 20px 40px;
    }
    .banner{
        padding: 0 40px;
        overflow: hidden;
    }

    .banner::before{
        top: -20px;
        left: -20%;
        height: 300px;
        width: 300px;
    }

    .banner::after{
        bottom: 0;
        height: 15px;
        width: 100%;
    }

    .content{
        display: flex;
        flex-direction:column-reverse ;
        margin: 10px 30px;
    }

    .content .contentBox .container{
        margin-top: 5px;
        max-width: 100%;

    }

    .content .imgBox img {
        max-width: 90;
        min-height: 100px;
        transform: scale(0.9);
        padding: 20px;
        
        background-image: linear-gradient(var(--accent-primary-color), var(--primary-color));
        padding: 10px;
        background-image: linear-gradient(var(--accent-primary-color), var(--primary-color));

    }
    
    .container .content .contentBox{
        text-align: center;
        font-size: 0.6rem;
      
    }

    .container{
        padding: 0px 60px;
        margin-left: 60px;
        max-width: 100px;
    
    }
    .content .contentBox h2{
        font-size: 2rem;
        padding: 0 60px;
    }

    .content p{
        position: relative;
        left: -50px;
        top: -10px;
    }

    .content .contentBox .title {
        font-size: 3rem;
        padding: 15px 60px;
    }

    .content .contentBox a {
        position: relative;
        display: inline-block;
        border: 1px solid var(--accent-secondary-color);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: var(--primary-color);
        padding: 14px 40px;
        transition: 0.5s;
        overflow: hidden;
        background: var(--secondary-color);
        top: 25px;
    }
    
    .content .contentBox a::before{
    position: relative;
    top: -100px;
    left: 500px;
    height: 50%;
    width: 25%;
    transition: 0.5s;
    margin: 30px;
    }

    .contact{
        position: absolute;
        top:20%;
        left: 10%;
    }

    .wf1 fieldset{
        margin: 2rem;
        border: solid 1px var(--accent-secondary-color);
        border-radius: 6px;
        padding: 5rem;
    
    }
    
    .wf1 fieldset{
        margin: 1rem;
        border: solid 1px var(--accent-secondary-color);
        border-radius: 6px;
        padding: 3rem;
    
    }

    form{
        display: flex;
        flex-direction: column;
        max-width: 200px;
    }

    .wf1-label{
        padding: 1rem;
        color: var(--accent-primary-color);
        font-size: 1.5rem;
    }
    
    
    textarea{
       background-color: #F7B2B7;
    }
    
    .wf1 input[type = "submit"]{
        
        border: 1px solid var(--accent-secondary-color);
        background-image: linear-gradient(var(--accent-primary-color), var(--primary-color));
        border-radius: 6px;
        width: 96%;
        margin: 1rem 5% -4rem -4%;
    }
    
    .wf1 input[type = "submit"]::before{
        position: absolute;
        content: '';
        top: 20;
        left: 0;
        height: 100%;
        width: 50%;
    }
    
    .wf1 input[type = "submit"]:hover{
        letter-spacing: 4px;
        color: var(--accent-tertiary-color);
    }
    
    .print{
        position: relative;
        left: 30%;
        padding-top: 15px;
    }
    
    .container{
        display: grid;
        grid-template-columns: auto auto ;
        left: 30%;
    }

    .container img, p {
    position: relative;
    top: 50px;
    max-width: 300px;
    margin: 1rem;
    }

    .hamburger{
        display: block;
        position: fixed;
        top: 15px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav-menu{
        position: fixed;
        left: -125%;
        top: 1%;
        gap: 0;
        flex-direction: column;
   
        width: 100%;
        text-align: center;
        transition: 0.3s;

    }

    .nav-menu.active{
        left: 0;
    }

    .main-hamburger{
        position: relative;   
        left: 1500%;
        cursor: pointer;
       
       }
       
       
}