:root{
    --primary-color: #00247d;
    --secondary-color: #fff;
    --accent-primary-color: #CF142B;
    --accent-secondary-color: #000000;

}



.body-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.head-font {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

header{
    color: #fff;
    background-color: #00247d;
    text-align: center;
    padding: 2rem;

}

picture{
padding-top: 20px;
object-fit: cover;
}