:root{
    --primary-color: #011c60;
    --secondary-color: #fff;
    --accent-primary-color: #ff001e;
    --accent-secondary-color: #000000;

}



.body-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.head-font {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

header{
    color: #fff;
    background-color: var(--primary-color);
    text-align: center;
    padding: 2rem;

}

picture{
padding-top: 20px;
object-fit: cover;
}

.icon{
    width: 50px;
    height: auto;
}

#data, #weather_info{
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent-secondary-color);
    border: 1px solid var(--accent-secondary-color);
    margin: 1rem;
}

.top{
    background-color: var(--accent-primary-color);
    color: var(--secondary-color);
}

footer{
    background-color: var(--primary-color);
    text-align: center;
    padding: 50px;
    color: #fff;
}

#lastModified{
  color: var(--accent-primary-color);
  font-size: x-large;
  font-weight: 700;
}