:root{
    --primary-color: #31473A;
    --secondary-color: #EDF4F2;
    --accent-color: #68a94d;
}

.head-font{
  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--secondary-color);
}


.body-font {
 font-family: "Roboto", sans-serif;
 font-weight: 200;
 font-style: normal;
 color: var(--primary-color);
}

header{
background-color: #68a94d;
display: grid;
padding: 20px;
border: 1px solid var(--primary-color);
}

header, main{
    margin: 0 auto;
}

#menu {
    display: block;

}

#menu ::before{
    content: icon;
}

nav{
    background-color: #EDF4F2;
}

nav ul{
    list-style: none;
    display:flex;
    flex-direction: column;
}

nav a{
    display: block;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}

nav a:hover{
    color: red;
}

main { 
    max-width: 800px;
    margin: 0 auto;
    background-color: #EDF4F2;
}

figure :hover{
    box-shadow: 0 0 50px var(--primary-color);
}

img{
    width: 300px;
    height: auto;
    margin: 1rem;  
}

.container{
    display: grid;
    grid-template-columns: auto;
}

figcaption {
    font-size: smaller;
    text-align: center;
    width: 200px;
}

footer{
    background-color: #68a94d;
    text-align: center;
    padding: 50px;
}

#lastModified{
  color: #EDF4F2;
  font-size: x-large;
}


